@import "colors";

.header {
  height: 80px;
  border-bottom: 1px solid $gray-border;
  background: #ffffff;
  .logo {
    width: 190px;
    height: 20px;
    color: $primary;
  }
}

.header__user {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 48px;
}
